<div class='container'>
  <h1 class='text-center'>Крипто Революция NFT</h1>
  <hr />

  <div id='Minter' class='row p-3'>
    <div class='offset-md-3 col-md-6'>
      <div class='card p-3'>
        <div class='panel-heading'>
          <h3 class='panel-title'>Mint your NFT</h3>
        </div>
        <hr />
        <div class='panel-body'>
          <div class='js-wallet-container' style='margin-bottom: 16px;'>
            <p><span class='fw-bold'>Wallet address:</span>
              <code class='js-container-address'></code></p>
          </div>
          <div class='js-warning-container' style='display: none'>
            <p>Please connect your wallet</p>
          </div>
          {{#if ticket.valid}}
            {{#if ticket.nft_mint}}
              <p class='alert alert-warning'>Already minted NFT</p>
              <p>
                <a href='#' class='btn btn-primary js-show-nft'>Show my NFT</a>
              </p>
            {{else}}
              <div class='text-center'>
                <p
                  style='display: none;'
                  class='alert alert-success js-container-success'
                >Successfully minted!</p>
                <p style='display: none;' class='alert alert-danger js-container-failure'>Problem
                  with mint, try again!</p>
                {{#if ticket.isMinting}}
                  <p class='alert alert-warning'>Please try in a couple of minutes</p>
                {{else}}
                  <a class='btn btn-primary btn-mint' data-id='{{ticket.id}}' href='#'>Mint</a>
                {{/if}}
                <div class='d-none justify-content-center align-items-center js-container-loading'>
                  <div class='spinner-border text-primary' role='status'>
                    <span class='visually-hidden'>Loading...</span>
                  </div>
                  <p class='ms-2 mb-0'>Minting...</p>
                </div>

              </div>
            {{/if}}
          {{else}}
            <p class='alert alert-danger'>Invalid ticket</p>
          {{/if}}
        </div>
      </div>
    </div>
  </div>

  <div class='row mt-4 js-container-cards'>
    <div class='col-md-4 mb-4'>
      <div class='card p-4'>
        <p>
          <span>Name:</span>
          <span class='js-nft-title'></span>
        </p>
        <div>
          <img class='js-nft-image' src='' alt='' />
        </div>
      </div>
    </div>
  </div>
</div>
