<div class='container'>
  <h1 class='text-center'>Крипто Революция NFT</h1>
  <hr />

  <div class='mt-5 row'>
    <div class='offset-lg-2 col-lg-8'>
      <div class='ratio ratio-16x9'>
        <iframe
          src='https://www.youtube.com/embed/vh_LQCrUocI'
          title='YouTube video player'
          frameborder='0'
          allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture'
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>

  <div id='Minter' class='row p-3 mt-4'>
    <div class='offset-md-3 col-md-6'>
      <div class='card p-3'>
        <div class='panel-heading'>
          <h3 class='panel-title'>Mint your NFT</h3>
        </div>
        <hr />
        <div class='panel-body'>
          <div class='js-wallet-container' style='margin-bottom: 16px;'>
            <p><span class='fw-bold'>Wallet address:</span>
              <code class='js-container-address'></code></p>
          </div>
          <div class='js-warning-container' style='display: none'>
            <p>Please connect your wallet</p>
          </div>
          {{#if ticket.valid}}
            {{#if ticket.nft_mint}}
              <p class='alert alert-warning'>Already minted NFT with this ticket</p>
            {{else}}
              <div class='text-center'>
                <p
                  style='display: none;'
                  class='alert alert-success js-container-success'
                >Successfully minted!</p>
                <p style='display: none;' class='alert alert-danger js-container-failure'>Problem
                  with mint, try again!</p>
                {{#if ticket.isMinting}}
                  <p class='alert alert-warning'>Please try in a couple of minutes</p>
                {{else}}
                  <a
                    style='display: none;'
                    class='btn btn-primary btn-mint'
                    data-id='{{ticket.id}}'
                    href='#'
                  >Mint</a>
                {{/if}}
              </div>
            {{/if}}
            <div class='d-none justify-content-center align-items-center js-container-loading'>
              <div class='spinner-border text-primary' role='status'>
                <span class='visually-hidden'>Loading...</span>
              </div>
              <p class='ms-2 mb-0'>Loading...</p>
            </div>
          {{else}}
            <p class='alert alert-danger'>Invalid ticket</p>
          {{/if}}
        </div>
      </div>
    </div>
  </div>

  <div class='row mt-4 js-container-cards'>
  </div>
</div>
